.slider {
  &__inner {
    padding-top: 100px;
  }
  &__img-inner {
    margin-bottom: 50px;
  }
  &__img {
    max-height: 50vh;
    max-width: 50vw;
    border-radius: 25px;
    margin: 0 auto;
  }
}
.container {
  max-width: 800px;
}
.slider__btn-inner {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
  margin: 0 auto;
}
.btnPrev {
  padding: 15px;
}
.btnNext {
  padding: 15px;
}
