@import 'normalize';
@import 'mini-reset';
@import 'slider';

body {
  min-width: 320px;
  scroll-behavior: smooth;
  background-size: cover;
  min-height: 100vh;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}
