@import "normalize";
@import "mini-reset";
@import "slider";

body {
  min-width: 320px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: crimson;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
